
{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Buyer Signup</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'UI/images/favicon.ico' %}" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'UI/css/bootstrap.min.css' %}">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{% static 'UI/css/typography.css' %}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{% static 'UI/css/style.css' %}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{% static 'UI/css/responsive.css' %}">
      <style>
        .container {
        overflow:scroll;
        }
        ::-webkit-scrollbar-thumb {
          background: #ffffff;
          border-radius: 10px;
          }
          ::-webkit-scrollbar {
            width: 12px;
            height: 0px;
            }
        </style>
   </head>
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
        <!-- Sign in Start -->
        <section class="sign-in-page">
          <div id="container-inside">
              <div id="circle-small"></div>
              <div id="circle-medium"></div>
              <div id="circle-large"></div>
              <div id="circle-xlarge"></div>
              <div id="circle-xxlarge"></div>
          </div>
            <div class="container p-0">
                <div class="row no-gutters">
                    <div class="col-md-6 text-center pt-5">
                        <div class="sign-in-detail text-white">
                            <a class="sign-in-logo mb-5" href="#"><img src="{% static 'UI/images/logo-full.png' %}" class="img-fluid" alt="logo"></a>
                            <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
                                <div class="item">
                                    <img src="{% static 'UI/images/login/1.png' %}" class="img-fluid mb-4" alt="logo">
                                    <h4 class="mb-1 text-white">Manage your orders</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                </div>
                                <div class="item">
                                    <img src="{% static 'UI/images/login/1.png' %}" class="img-fluid mb-4" alt="logo">
                                    <h4 class="mb-1 text-white">Manage your orders</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                </div>
                                <div class="item">
                                    <img src="{% static 'UI/images/login/1.png' %}" class="img-fluid mb-4" alt="logo">
                                    <h4 class="mb-1 text-white">Manage your orders</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 bg-white pt-5">
                        <div class="sign-in-from">
                            <h1 class="mb-0">Sign Up</h1>
                            <p>Enter your Details To Create User Account.</p>
                            {% if messages %}
                            {% for message in messages %}
                            <p style="padding: 10px;font-size: 18px;color: #008000;border-radius: 10px;">{{ message }}</p>
                                {% endfor %}</ul>
                            {% endif %}
                            <form class="mt-4" method="post">
                              {%csrf_token%}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Your Full Name</label>
                                    <input type="text" class="form-control mb-0" id="exampleInputEmail1"  name="fname" placeholder="Your Full Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail2">Email address</label>
                                    <input type="email" class="form-control mb-0" id="exampleInput" name="email" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputEmail2">Username</label>
                                  <input type="text" class="form-control mb-0" id="exampleInput" name="username" placeholder="Enter username">
                              </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control mb-0" id="exampleInputPassword1" name="pwd" placeholder="Password">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail2">Looking for</label>
                                    <select name="look" class="form-control">
                                      <option value="">Select chooice</option> 
                                      {% for lk in look %}            
                                      <option value="{{ lk.id }}">{{ lk.opetion }}</option> 
                                      {% endfor %}
                                  </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail2">Present Qualification</label>
                                    <select name="qualification" class="form-control">
                                      <option value="">Select chooice</option> 
                                      {% for qu in qualifi %}            
                                      <option value="{{ qu.id }}">{{ qu.opetion }}</option> 
                                      {% endfor %}
                                  </select>
                                </div>


                                <div class="form-group">
                                    <label for="exampleInputEmail2">Country</label>
                                    <select name="country" class="form-control">
                                      <option value="">Select country</option> 
                                      {% for con in country %}            
                                      <option value="{{ con.id }}">{{ con.country }}</option> 
                                      {% endfor %}
                                  </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail2">State</label>
                                    <select name="state" class="form-control">
                                      <option value="">Select state</option> 
                                      {% for sta in state %}            
                                      <option value="{{ sta.id }}">{{ sta.state }}</option> 
                                      {% endfor %}
                                  </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail2">Upload CV</label>
                                    <input  type="file"  name="resume" id="exampleInput" >
                                </div>

                                <div class="d-inline-block w-100">
                                    <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1" required>
                                        <label class="custom-control-label" for="customCheck1">I accept <a href="#">Terms and Conditions</a></label>
                                    </div>
                                    <input type="submit" class="btn btn-primary float-right" value="Sign Up">
                                </div>
                                <div class="sign-info">
                                    <span class="dark-color d-inline-block line-height-2">Already Have Account ? <a href="#">Log In</a></span>
                                    <ul class="iq-social-media">
                                      <li><a href="http://localhost:8000/accounts/facebook/login/"><i class="ri-facebook-box-line"></i></a></li>
                                      <li><a href="http://localhost:8000/accounts/google/login/"><i class="ri-google-line"></i></a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Sign in END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{% static 'UI/js/jquery.min.js' %}"></script>
      <script src="{% static 'UI/js/popper.min.js' %}"></script>
      <script src="{% static 'UI/js/bootstrap.min.js' %}"></script>
      <!-- Appear JavaScript -->
      <script src="{% static 'UI/js/jquery.appear.js' %}"></script>
      <!-- Countdown JavaScript -->
      <script src="{% static 'UI/js/countdown.min.js' %}"></script>
      <!-- Counterup JavaScript -->
      <script src="{% static 'UI/js/waypoints.min.js' %}"></script>
      <script src="{% static 'UI/js/jquery.counterup.min.js' %}"></script>
      <!-- Wow JavaScript -->
      <script src="{% static 'UI/js/wow.min.js' %}"></script>
      <!-- Apexcharts JavaScript -->
      <script src="{% static 'UI/js/apexcharts.js' %}"></script>
      <!-- Slick JavaScript -->
      <script src="{% static 'UI/js/slick.min.js' %}"></script>
      <!-- Select2 JavaScript -->
      <script src="{% static 'UI/js/select2.min.js' %}"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="{% static 'UI/js/owl.carousel.min.js' %}"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="{% static 'UI/js/jquery.magnific-popup.min.js' %}"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="{% static 'UI/js/smooth-scrollbar.js' %}"></script>
      <!-- lottie JavaScript -->
      <script src="{% static 'UI/js/lottie.js' %}"></script>
      <!-- am core JavaScript -->
      <script src="{% static 'UI/js/core.js' %}"></script>
      <!-- am charts JavaScript -->
      <script src="{% static 'UI/js/charts.js' %}"></script>
      <!-- am animated JavaScript -->
      <script src="{% static 'UI/js/animated.js' %}"></script>
      <!-- am kelly JavaScript -->
      <script src="{% static 'UI/js/kelly.js' %}"></script>
      <!-- am maps JavaScript -->
      <script src="{% static 'UI/js/maps.js' %}"></script>
      <!-- am worldLow JavaScript -->
      <script src="{% static 'UI/js/worldLow.js' %}"></script>
      <!-- Chart Custom JavaScript -->
      <script src="{% static 'UI/js/chart-custom.js' %}"></script>
      <!-- Custom JavaScript -->
      <script src="{% static 'UI/js/custom.js' %}"></script>
   </body>
</html>