{% extends 'admin/dashboard.html' %} 



     {% block content %}
            <div class="content">
            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            
                            <h6 class="mb-4">ADD Courses Offered</h6>
                            {% if messages %}
                            {% for message in messages %}
                            <p style="padding: 10px;font-size: 18px;color: #008000;border-radius: 10px;">{{ message }}</p>
                                {% endfor %}</ul>
                            {% endif %}
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Courses Offered</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" name="name" aria-describedby="emailHelp">
                                    
                                </div>
                               
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                    
                   <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Courses Offered List</h6>
                        <a href="">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">S.No</th>
                                    <th scope="col">Option</th>
                                    {% comment %} <th scope="col">Invoice</th>
                                    <th scope="col">Customer</th> {% endcomment %}
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for name in data%}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ name.opetion }}</td>                     
                                    <td>
                                        <a href="{% url 'edit_m' id=name.id %}"><button class="btn btn-sm btn-success"><i class="fa fa-edit"></i></button></a>
                                            <a href="{% url 'delete_m' id=name.id %}"><button class="btn btn-sm btn-primary"><i class="fa fa-trash"></i></button> </a>
                                    </td>
                                </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->
                   
                </div>
            </div>
        </div>
            <!-- Form End -->
{% endblock content %}
            

